.App {
  text-align: center;
}


.header {
  background-color: #373737;
  font-family: 'Muli', sans-serif;
  color: #DCD0C0;
  border-bottom: 1vh black solid;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vh;
}

.title {
  padding: 0vh;
  margin: 0vh;
  font-size: 3vw;
  border-bottom: .2vh #C0B283 solid;
  border-top: .2vh #C0B283 solid;
}

.logins {
  padding: .5vw
}

.mainLand {
  background: url(./assets/hero1.jpg);
  background-size: cover;
  background-color: #DCD0C0;
  background-blend-mode: luminosity;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center
}

.innerLand {
  background-color: rgb(55, 55, 55, .8);
  margin: 15vh;
  padding: 8vh;
  display: flex;
  flex-flow: column;
  border: .5vh #DCD0C0 solid;
  color: #F4F4F4
}

footer {
  border-top: 1vh black solid;
  background: #373737;
  color: #DCD0C0;
  padding: 1vh;
}

.gold {
  color: #C0B283;
}

.left {
  float: left;
}

.right {
  float: right;
}

.big {
  font-size: xx-large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.sideNav {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-right: .5vh #373737 solid;
  width: 15vw;
  padding: 2.5vh;
  background: #DCD0C0;
}

a {
  color: #373737;
}

a:hover {
  color: #F4F4F4;
}

h5 {
  margin: .1vh;
}

.avatar {
  height: 10vh;
  width: 10vw;
  margin: 1vh;
}

.udContainer {
  display: flex;
  flex-flow: row;
  margin: .5vh;
  padding: .5vh;
}

.calendar {
  border: .5vh #373737 solid;
  padding: 1.5vh
}

/*

gold: COB283
silk: DCD0C0
paper: F4F4F4
dark-grey: 373737

*/