.App {
  text-align: center;
}


.header {
  background-color: #373737;
  font-family: 'Muli', sans-serif;
  color: #DCD0C0;
  border-bottom: 1vh black solid;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vh;
}

.title {
  padding: 0vh;
  margin: 2.5vh;
  font-size: 3vw;
  border-bottom: .2vh #C0B283 solid;
  border-top: .2vh #C0B283 solid;
}

.loggedOut {
  padding: .5vw;
  display: flex;
  flex-flow: row;
}

.loggedIn {
  padding: .2vw;
}

.mainLand {
  background: url(./assets/hero1.jpg);
  background-size: cover;
  background-color: #DCD0C0;
  background-blend-mode: luminosity;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerLand {
  background-color: rgb(55, 55, 55, .8);
  margin: 15vh;
  padding: 8vh;
  display: flex;
  flex-flow: column;
  border: .5vh #DCD0C0 solid;
  color: #F4F4F4
}

footer {
  border-top: 1vh black solid;
  background: #373737;
  color: #DCD0C0;
  padding: 1vh;
}

a {
  color: #373737;
}

a:hover {
  color: #F4F4F4;
}

.mainDash {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.left {
  display: flex;
  flex-flow: column;
}

.upperLeft {
  display: flex;
  flex-flow: row;
}

.userProfile {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 10vmax;
}

.avatar {
  height: 8vh;
  width: 4vw;
  margin-left: 1vw;
  border-radius: 1vw;
}

.ui.menu {
  background: #373737;
  border: none;
  box-shadow: none;
}

.ui.menu:hover {
  color: rgb(192, 178, 131)
}

.ui.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;

}


.item:hover {
  color: yellow;
}

.drop {
  background: #373737;
  outline: none;
}

span {
  font-weight: 700
}

.items {
  background: rgb(220, 208, 192, .3);
  border: .2vh black solid;
  margin: .1vw;
  padding: .2vw .5vw;
}

.items:hover {
  background: rgb(220, 208, 192, .8);
}

.messages {
  background: rgb(55, 55, 55, .2);
  border: .2vh black solid;
  margin: .1vw;
  padding: .2vw .5vw;
}

.messages:hover {
  background: rgb(55, 55, 55, .5);
}

.calendar {
  background: rgb(244, 244, 244, .2);
  border: .2vh black solid;
  margin: .1vw;
  padding: .2vw .5vw;
}

.calendar:hover {
  background: rgb(244, 244, 244, 1);
}

.gold {
  color: rgb(192, 178, 131);
}

.voteContainer {
  display: flex;
  flex-flow: column;
}

.cardPhoto {
  width: 20vh;
  height: 10vw
}
/*
* {
  color: rgb(192, 178, 131);
  color: #DCD0C0;
  color: #F4F4F4;
  color: rgb(55, 55, 55);
}
*/